body {
  background-color: #f2e9e4;
}

.navbar {
  background-color: #22223b;
}

.navbar .nav-link {
  color: #f2e9e4;
}

.navbar .navbar-brand {
  color: #f2e9e4;
}

.navbar .nav-link.active {
  color: #ef476f;
}

.navbar .nav-link:hover {
  color: #fbaf00;
}

.navbar-toggler {
  background-color: #00c2d1;
}
.card-body {
  background-color: #22223b;
  color: #f2e9e4;
}

.navbar-toggler:hover {
  background-color: #fbaf00;
}

.btn-primary {
  color: #22223b;
  border-color: #00c2d1;
  background-color: #00c2d1;
}

.btn-primary:hover {
  background-color: #fbaf00;
  color: #22223b;
  border-color: #fbaf00;
}

.btn-primary:disabled {
  background-color: #f2e9e4;
  color: #22223b;
  border-color: #f2e9e4;
}

.btn-secondary {
  color: #f2e9e4;
  border-color: #ef476f;
  background-color: #ef476f;
}

.dropdown-menu {
  background-color: #22223b;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: #f2e9e4;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 8px;
  text-align: center;
  width: 90%;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
